@model IEnumerable<VoziBa.Models.Rezervacija>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.osobaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.recenzijaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.voziloID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.osobaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.recenzijaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.voziloID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.rezervacijaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.rezervacijaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.rezervacijaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
