@model IEnumerable<VoziBa.Models.Rezervacija>

@{
    ViewData["Title"] = "Sve Rezervacije";
}

<h1>Sve Rezervacije</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Kreiraj Novu Rezervaciju</a>
</p>

@if (!Model.Any())
{
    <p>Trenutno nema rezervacija.</p>
}
else
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    ID Rezervacije
                </th>
                <th>
                    ID Korisnika
                </th>
                <th>
                    ID Vozila
                </th>
                <th>
                    Datum Početka
                </th>
                <th>
                    Datum Završetka
                </th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.rezervacijaID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.osobaId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.voziloID)
                    </td>
                    <td>
                        @item.datumPocetka.ToShortDateString()
                    </td>
                    <td>
                        @item.datumZavrsetka.ToShortDateString()
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.rezervacijaID" class="btn btn-sm btn-info">Uredi</a> |
                        <a asp-action="Details" asp-route-id="@item.rezervacijaID" class="btn btn-sm btn-secondary">Detalji</a> |
                        <a asp-action="Delete" asp-route-id="@item.rezervacijaID" class="btn btn-sm btn-danger">Obriši</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}